{% extends "base.html" %}
{% comment %} <h1>{{titulo}}<h1> {% endcomment %}
{% block formulario %}
    <h1>{{titulo}}</h1>
    {{request.user}} <br>
    {{titulo2}}
    <form method="POST" action="">{% csrf_token %}
        {{el_form.as_p}} 
        <input type="submit" value="Guardar"/>
    </form>
{% endblock %}

{% comment %} {% block formulario2 %}
    <h1>{{titulo}}</h1>
    {{request.user}} <br>
    {{titulo2}}
    <form method="POST" action="">{% csrf_token %}
        {{el_form.as_p}} 
        <input type="submit" value="Guardar"/>
    </form>
{% endblock %} {% endcomment %}

